*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
}

.container-1{
    box-sizing: border-box;
    width: 350px;
    height: auto;
    background-color: #FFF;
    margin: 20px auto;
    border: solid;
    border-width: 1px;
    border-color: #D9D9D9;
}


#ig{
    box-sizing: border-box;
    width: 270px;
    padding-left: 80px;
    padding-top: 40px;
    padding-bottom: 30px;
}

#email{
    box-sizing: border-box;
    width: 270px;
    height: 40px;
    margin-left: 40px;
    margin-bottom: 8px;
    border: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    font-size: 13px;
    padding-left: 10px;
    background-color: #FAFAFA;
    border-radius: 5px;
}

#password{
    box-sizing: border-box;
    width: 270px;
    height: 40px;
    margin-left: 40px;
    margin-bottom: 15px;
    border: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    font-size: 13px;
    padding-left: 10px;
    background-color: #FAFAFA;
    border-radius: 5px;
}

#login{
    box-sizing: border-box;
    width: 270px;
    height: 40px;
    margin-left: 40px;
    margin-bottom: 15px;
    border: none;
    font-size: 15px;
    background-color: #4DB0FE;
    color: #FFFFFF;
    border-radius: 5px;
}

#login:hover{
    background-color: #0869FB;
}

#v-1{
    box-sizing: border-box;
    padding-left: 39px;
    width: 310px;
}

#p1{
    box-sizing: border-box;
    text-align: center;
    font-size: 13px;
    color: #636262;
    position: relative;
    bottom: 13px;
}

#fb{
    box-sizing: border-box;
    width: 18px;
    margin-left: 95px;
    position: relative;
    bottom: 5px;
    
}

#a1{
    box-sizing: border-box;
    position: relative;
    font-size: 14px;
    color: #425890;
    bottom: 8px;
    left: 5px;
    text-decoration: none;
}


#a2{
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    color: #425890;
    position: relative;
    top: 7px;
    left: 125px;
    text-decoration: none;
}

.container-2{
    box-sizing: border-box;
    width: 350px;
    height: 65px;
    background-color: #FFF;
    margin: 10px auto;
    border: solid;
    border-width: 1px;
    border-color: #D9D9D9;
}

#p4{
    text-align: center;
    line-height: 65px;
    font-size: 14px;
}

#a3{
    color: #4DB0FE;
    text-decoration: none;
}

.container-3{
    box-sizing: border-box;
    width: 350px;
    height: 100px;
    margin: 10px auto;
}

#p5{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#g-1{
    margin-left: 30px;
}

#g-2{
    box-sizing: border-box;
    float: right;
    width: 140px;
    margin-right: 30px;
}

.container-4{
    text-align: center;
    margin-top: 50px;
}

.link{
   box-sizing: border-box;
   font-size: 13px;
   text-decoration: none;
   padding-left: 10px;
   padding-right: 10px;
   color: #636262;
   position: relative;
   top: 20px;
}

#u-1:hover{
    text-decoration: underline;
}

#u-2:hover{
    text-decoration: underline;
}

#u-3:hover{
    text-decoration: underline;
}

#u-4:hover{
    text-decoration: underline;
}

#u-5:hover{
    text-decoration: underline;
}

#u-6:hover{
    text-decoration: underline;
}


#icon{
    box-sizing: border-box;
    position: relative;
    top: 37px;
    right: 79px;
    width: 13px;
}

#p6{
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 13px;
    color: #636262;
    padding-left: 20px;
}

